In [1]:
import mysql.connector

In [2]:
mydb = mysql.connector.connect(host="localhost",user="root",passwd="root")
if (mydb):
    print(1)

1

In [3]:
mydb

In [4]:
def display(table):
    for row in table:
        print(row)

In [5]:
mycursor = mydb.cursor()
mycursor.execute("Show DATABASES")
display(mycursor)

('chicago_data',)
('employees',)
('information_schema',)
('mysql',)
('performance_schema',)
('sales',)
('sys',)

In [7]:
mycursor.execute("Use Chicago_data")
mycursor.execute("Show Tables")
display(mycursor)

('chicagocensusdata',)
('chicagocrimedata',)
('chicagopublicschools',)

In [8]:
mycursor.execute("Select COUNT(*) from chicagocrimedata")
display(mycursor)

(353,)

In [9]:
mycursor.execute("Select COMMUNITY_AREA_NAME from chicagocensusdata Where PER_CAPITA_INCOME<11000")
display(mycursor)

('West Garfield Park',)
('South Lawndale',)
('Fuller Park',)
('Riverdale',)

In [10]:
mycursor.execute("Select CASE_NUMBER from chicagocrimedata Where DESCRIPTION like '%Minor%'")
display(mycursor)

('HL266884',)
('HK238408',)

In [20]:
mycursor.execute("Select CASE_NUMBER from chicagocrimedata Where PRIMARY_TYPE = 'KIDNAPPING' and  DESCRIPTION like '%Child%'")
display(mycursor)

('HN144152',)

In [11]:
mycursor.execute("Select Distinct(PRIMARY_TYPE) from chicagocrimedata Where LOCATION_DESCRIPTION like '%School%' Order By PRIMARY_TYPE ")
display(mycursor)

('CRIMINAL DAMAGE',)
('CRIMINAL TRESPASS',)
('NARCOTICS',)

In [12]:
mycursor.execute("Select  E_M_H,AVG(SAFETY_SCORE) from chicagopublicschools Group By E_M_H")
display(mycursor)

('ES', Decimal('49.4371'))
('HS', Decimal('56.8286'))
('MS', Decimal('53.0000'))

In [13]:
mycursor.execute("Select  COMMUNITY_AREA_NAME from chicagocensusdata Order By PERCENT_HOUSEHOLDS_BELOW_POVERTY Desc LIMIT 5")
display(mycursor)

('Riverdale',)
('Fuller Park',)
('Englewood',)
('North Lawndale',)
('East Garfield Park',)

In [14]:
mycursor.execute("Select  COMMUNITY_AREA_NUMBER from chicagocrimedata Group By COMMUNITY_AREA_NUMBER Order By COUNT(COMMUNITY_AREA_NUMBER) DESC LIMIT 1") 
display(mycursor)

(25,)

In [16]:
mycursor.execute("Select  COMMUNITY_AREA_NAME from chicagocensusdata Where HARDSHIP_INDEX = (Select MAX(HARDSHIP_INDEX) from chicagocensusdata)")
display(mycursor)

('Riverdale',)

In [17]:
mycursor.execute("Select  C.COMMUNITY_AREA_NAME from chicagocensusdata C Join chicagocrimedata C2 ON C.COMMUNITY_AREA_NUMBER = C2.COMMUNITY_AREA_NUMBER Group By C.COMMUNITY_AREA_NAME Order By COUNT(C2.COMMUNITY_AREA_NUMBER) Desc LIMIT 1") 
display(mycursor)

('Austin',)